body {
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
}

.top-bar {
  position: relative;
  top: 0;
  width: 100%;
  padding: 4% 4%;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10% 4%;
}


/*main page*/

#main {
  width: 100%;
  height: 100%;
  z-index: 3; /*3*/
  opacity: 1;
  background: green;
}

.main-image-section {
  margin: 50% auto;
  width: 100px;
  text-align: center;
}



/*canvas page*/

#canvas-area {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: red;
}

#myCanvas {
  //margin: 10% auto;
  //border:1px solid #000;
  //width: 90%;
  //height: 70%;
}

#canvas {

}
#background {
    display: none;
}
#sticker {
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: move;
    opacity: 1;
    display: none;
}


/*stickers page*/


#stickers-screen {
  z-index: 1; /*1*/
  background: blue;
  width: 100%;
  height: 100%;
  top: 0px; /*600px*/
}

.main-section {
  margin: 10% auto;
}

.row {
  padding-left: 6px;
  padding-top: 6px;
}

.sticker {
  background: grey;
  height: 80px;
  width: 80px;
}