.page {
  position: absolute;
  top: 0;
  left: 0;
}

#stickers {
  z-index: 1;
  background: blue;
  width: 100%;
  height: 100%;
}

/*main page*/

#main {
  width: 100%;
  height: 100%;
  //z-index: 3;
  background: green;
}

.main-image-section {
  margin: 50% auto;
  width: 100px;
  text-align: center;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  width: 80%;
  padding: 10% 10%;
}

/*canvas page*/

#canvas-area {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: red;
}